@tailwind base;
@tailwind components;
@tailwind utilities;


.logo-font {
    font-family: var(--font-satisfy);
}
.custom-body-font {
    font-family: var(--font-roboto);
  }

  .custom-heading {
    font-family: var(--font-eb-garamond);
}

.clip-diagonal {
  clip-path: polygon(0 0, 60% 0, 50% 100%, 0 100%);
}

.text{
  transform-origin: 50% 50%;
  animation: rotate 3s ease-in-out infinite;
}


@keyframes rotate {
  0% {
    transform: rotateZ(-45deg); /* Starting position */
  }
 
  50% {
    transform: rotateZ(45deg); /* Rotate left */
  }
  
}
